@font-face {
    font-family: Tungsten;
    src: url('Fontes/FontsFree-Net-Tungsten-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: aliceblue;
    font-size: 18pt;
}

.header-container {
    width: 100%;
    background-color: #6688d1;
    font-family: Tungsten;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
} /*Arrumar o Sticky // conteudo ta varando ele*/

.header-container > header {
    display: flex;
    align-items: center;
    height: 7.1vh;
    width: 100%;
}

.header-container > header > nav {
    width: 100%;
    padding: 0 2.1vh;
}

.header-container > header > nav > span {
    padding: 0 1.4vh;
    font-size: 19pt;
}

.header-container > header > nav > a {
    display: flex;
    justify-content: center; 
    margin: 0 1.4vh;
    float: right;
    border-radius: 1.4vh;
    color: black;
    background-color: #92b9df;
    padding: 0 1.4vh;
    text-decoration: none;
}

.header-container > header > nav > a:hover {
    background-color: #4f8ecc;
}

.body-container {
    
}

.container {
    width: 100%;
    height: 86vh;
    
}

.logo-3d {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}

#l-3d{
    font-family: Tungsten;
    font-size: 70pt;
}

.logo-3d > span:hover {
    text-shadow: 4px 0 red, -4px 0 cyan;
}

.logo-3d > p {
    font-family: Tungsten;
    font-size: 16pt;
}
